svg {
    aspect-ratio: 2 / 1;
}

.country {
    stroke: black;
    stroke-width: .5;
}

.country-highlighted {
    fill: #FF0000;
}

.tooltip {
    position: absolute;
    padding: 7px;
    font-size: 0.8em;
    pointer-events: none;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);
}