@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
    font-family: 'DM Sans', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'DM Serif Display', serif;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .feature > img {
        display: block;
        @apply rounded-md border border-zinc-700;
    }
    

    .align {
        @apply px-16 py-8;
    }

    .nav-link[aria-current="page"] {
        @apply text-active overline;
    }

    .nav-link {
        @apply hover:text-hover;
    }
}